html,body {
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #CCB3F6;
	min-width: 930px;
}

.header .container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #CCB3F6;
}

.header .container ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	text-align: center;
	margin-left: 50px;
}

.header .container li {
	padding: 10px;
	color: white;
}

.header .container img {
	padding-right: 50px;
}

.header .container .menu li {
	font-style: normal;
	font-weight: 700;
}

.container input {
	height: 40px;
	width: 300px;
	border: none;
}

.container-search{
	display: flex;
}

.conteudo-principal {
	min-width: 930px;
	height: 1000px;
}

.conteudo-principal2 {
	background-color: #EAEAEA;
	height: 770px;
}

.container-section1 {
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.container-section2 {
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-top: -90px;
	margin-bottom: 110px;
}

.wrapper-search{
	display: flex;
	align-items: center;
	background-color: #fff;
	padding:0 5px;
	border-radius: 4px 0 0 4px;
}
.wrapper-search i{
	color:grey;
}

.quadrados {
	width: 220px;
	height: auto;
	background: rgba(222, 241, 255, 0.66);
	box-shadow: inset -7px -7px 0px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	margin-right: 1%;
	margin-top: 100px;
	margin-bottom: 1%;
}

.quadrados h3 {
	font-style: normal;
	font-weight: 400;
}

.quadrados p {
	font-style: normal;
	font-weight: 700;
}


@media(max-width: 1000px) {

	.conteudo-principal {
		height: 1700px;
	}

	.conteudo-principal2 {
		height: 1500px;
	}

	.container-section1 {
		width: 60%;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-left: 200px;
	}

	.container-section2 {
		width: 60%;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-left: 200px;
		margin-top: 5px;
		margin-bottom: 100px;
	}

	.quadrados {
		margin-top: 15%;
		height: auto;
		margin-left: 
	}

}